<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#">系统</a>
            </li>
            <li>
                <a href="#">文章管理</a>
            </li>
            <li class="active">修改文章</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">修改文章</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form class="form-horizontal" enctype="multipart/form-data" role="form" action="" method="post">
                                <input type="hidden" value="{$data.id}" name="id">
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label no-padding-right">标题</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="title" placeholder="" name="title" required="" type="text" value="{$data.title}">
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>

                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label no-padding-right">作者</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="author" placeholder="" name="author" required="" type="text" value="{$data.author}">
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>

                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label no-padding-right">介绍</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="desc" placeholder="" name="desc" required="" type="text" value="{$data.desc}">
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>

                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label no-padding-right">关键字</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="keywords" placeholder="" name="keywords" required="" type="text" value="{$data.keywords}">
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>

                                <div class="form-group" style="margin-bottom: 0px;">
                                    <label for="username" class="col-sm-2 control-label no-padding-right">缩略图</label>
                                    <div class="col-sm-6" style="line-height: 65px;">
                                        <a href="javascript:;" class="a-file">选择文件
                                              <input type="file" name="pic" id="" onchange="showPreview(this)">
                                        </a>
                                        <img id="portrait" 
                                            {if condition="$data.pic eq ''"}
                                                src="__PUBLIC__images/error.png"
                                            {else /}
                                                src="{$data.pic}" 
                                            {/if}
                                         style="height: 65px; margin-left: 20px; ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="state" class="col-sm-2 control-label no-padding-right">推荐</label>
                                    <div class="col-sm-6" style="height: 30px; padding-top: 8px;">
                                        

                                        {if condition="$data['state'] eq '1' "}
                                            <input class="checkbox-slider colored-darkorange" type="checkbox" name="state" checked="checked" >
                                        {else /}
                                            <input class="checkbox-slider colored-darkorange" type="checkbox" name="state" >
                                        {/if}

                                        
                                        <span class="text"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label no-padding-right">栏目</label>
                                    <div class="col-sm-6">
                                        <select name="cateid">
                                        <option value="">请选择</option>
                                            {volist name="cate" id='vo'}
                                                {if condition="$data['cateid'] eq $vo['id']"}
                                                    <option selected="selected" value="{$vo.id}">{$vo.catename}</option>
                                                {else /}
                                                    <option value="{$vo.id}">{$vo.catename}</option>
                                                {/if}
                                            {/volist}
                                        </select>
                                    </div>
                                        <p class="help-block col-sm-4 red">* 必填</p>
                                </div>

                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label no-padding-right">内容</label>
                                    <div class="col-sm-6">
                                        <textarea name="content" id="content">{$data.content}</textarea>
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>

                                
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">保存信息</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<script type="text/javascript">
    
    //ueditor的使用
    var ue = UE.getEditor('content',{initialFrameWidth:'100%',});
</script>